# PORT
PORT=3000

# MONGO URL
MONGODB_URL=mongodb://127.0.0.1:27017/ziporide-server

# JWT
JWT_SECRET=thisisasamplesecret
JWT_ACCESS_EXPIRATION_MINUTES=30
JWT_REFRESH_EXPIRATION_DAYS=30

# SMTP configuration
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com

# Twilio config
TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_PHONE_NUMBER=your_twilio_phone_number

# Stripe config
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxx
STRIPE_CONNECT_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxx
STRIPE_PRICE_ID=price_xxxxxxxxxxxxxxxxxxxx
STRIPE_CURRENCY=GBP
DRIVER_SUBSCRIPTION_RETURN_URL=https://ziporide.vercel.app
STRIPE_CONNECT_RETURN_URL=https://ziporide.vercel.app
STRIPE_CONNECT_REFRESH_URL=https://ziporide.vercel.app

# Mapbox
MAPBOX_ACCESS_TOKEN=your_mapbox_access_token